<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <style>
      .body {
        margin: 0;
        padding: 50px;
        background-color: white;
        font-family: Arial, sans-serif;
      }

      .header {
        text-align: center;
        margin-bottom: 2rem;
      }

      .header-logo {
        width: 150px; /* Adjust the logo size */
        height: auto;
        margin: 0 auto;
      }

      .header-subtitle {
        font-size: 18px;
        color: #6b7280; /* Soft gray for subtitle */
        margin-top: 0.5rem;
      }

      .line {
        height: 2px; /* Slightly thicker for better visibility */
        background-color: #e5e7eb; /* Light gray */
        margin: 1rem 0;
      }
    </style>
  </head>

  <body class="body">
    <header class="header">
      <!-- NursingFront Logo -->
      <img
        src="https://res.cloudinary.com/nursingfront/image/upload/v1737832768/Logo_with_words_gxxr6v.png"
        alt="NursingFront Logo"
        class="header-logo"
      />
      <p class="header-subtitle">Empowering Nurses, Transforming Careers</p>
    </header>
    <div class="line"></div>
  </body>
</html>
