<%- include('./partials/header'); %>

    <main>
        <p class="main-p">Hello,</p>
        <p class="main-p">Error Occured in Background Process.</p>
        <p class="main-p">
            <%= Message %>
        </p>
    </main>

    <%- include('./partials/footer'); %>